<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace= "base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="banner d-flex justify-content-center align-items-center">
        <div class="text-center">
            <h1 class="font-weight-bold">
                Contact Mnager
            </h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat vitae impedit molestiae numquam minus. Aut porro repudiandae a aliquid magni, voluptatibus autem facilis illo, repellat dolorum consequatur in ad ab!</p>
            </div>
        <button class="btn btn-lg bg-primary text-white">
            Get Started
        </button>
    </section>
    
</body>
</html>