<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace= "base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="my-card">
                        <h1 class="text-center">Register Here !</h1>
                        
                        <form action=""th:action= "@{/do-register}" method="post">
                            <!-- name field -->
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Name</label>
                                <input type="text" class="form-control" id="nameId" aria-describedby="emailHelp" placeholder="Enter name here...">
                              </div>
                            
                            <!-- Email field -->
                              <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="emailId" aria-describedby="emailHelp" placeholder="Enter Email here...">
                              </div>
                            <!-- Password field -->
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Password</label>
                                <input type="password" class="form-control" id="passwordId" aria-describedby="emailHelp">
                              </div>
                        </form>
                    </div>

                </div>

            </div>

        </div>
    </section>
    
</body>
</html>